# Voces descartadas — no subir al repo
en_us-jarvis_ucm-high.onnx
en_us-jarvis_ucm-high.onnx.json
es_ES-carlfm-x_low.onnx
es_ES-carlfm-x_low.onnx.json
es_ES-davefx-medium.onnx
es_ES-davefx-medium.onnx.json
es_MX-claude-high.onnx
es_MX-claude-high.onnx.json
